
version: "3"

services:
  qrgenerator:
    hostname: appserver
    build: 
      context: .
    image: qrgenerator
    ports: 
      - "8000:8000"
    volumes: 
      - ./src:/src
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"